<div class="disc-card-container">
  <mat-card class="disc-card" *ngFor="let city of countByCity">
    <li class="cards_item">
      <div class="card">
        <div class="card_image">

          <img  [src]="getImageUrl(city.City)"
          alt="Photo of {{ city.City }}" />
         
         
        </div>
        
      </div>

    </li>
    <div class="prop-details">
      <span class="card_price">{{ city.City }}</span>
      <!-- <span class="card_count">{{ city.Count }} Properties</span> -->
    </div>
  </mat-card>

  
</div>
