.type-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.type-card {
  max-width: 200px;
  position: relative;
  padding: 20px;

  background-color: #8EB9C7;
}
.type-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card-content img {
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
}

.type-card-content >p{
  font-weight: 500;
  font-size: 16px;
}
